#head {
  background-color: teal;
  padding: 10px 80px;
}
#img-1 {
  margin-top: 2rem;
}
.media {
  color: white;
}
h4 {
  border-bottom: 1px solid;
}
.btn {
  color: teal;
}
#info {
  padding: 30px 150px;
}
#info-2 {
  border: 1px solid rgba(128, 128, 128, 0.5);
  margin: auto 10px;
}
.img-thumbnail {
  display: flex;
  min-height: 165px;
  min-width: 200px;
  margin-top: .5rem;
}
#button-2 {
  background-color: teal;
  color: white;
}
#subscribe {
  background-color: teal;
}
#img-2 {
  margin-top: 1rem;
}
